<button (click)="getJoke()" class="new-joke-button">👊🏼</button>
<ng-container *ngIf="joke; else explanation">
  <div class="joke-container">
    <div class="favorite-check">
      <input
        type="checkbox"
        [checked]="checkFavorite(joke)"
        name="favorite-check"
        id="favorite"
        (input)="toggleFavoriteJoke(joke, $event.target.checked)"
      />
      <label for="favorite"> {{ joke.joke }} </label>
    </div>
  </div>
</ng-container>
<ng-template #explanation>
  <div>
    <p>
      Punch up to get a new joke.
    </p>
    <p>
      Hit the 💣 to make it 💥 and add it to your favorites!
    </p>
  </div>
</ng-template>
