.joke-container {
  display: flex;
  justify-content: center;
}

.new-joke-button {
  font-size: 3rem;
}

.favorite-check input[type='checkbox'] + label:before {
  content: '💣';
}
.favorite-check input[type='checkbox']:checked + label:before {
  content: '💥';
}
.favorite-check input[type='checkbox'] {
  display: none;
}
