// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

ul, ol{
    list-style: none;
    padding: 0;
    margin: 0;
}
h1, h2{
    transform: scale(.7)
}
button{
    outline: none;
}
.center{
    text-align: center;
}
.card-content{
    overflow: scroll;
}
.card-content-ios p{
    font-size: large;
}
.fav-item{
    position: relative;
}
.toogle-btn{
    position: absolute;
    top: 25%;
    right: 15%;
    height: 50%;
}
.btn-delete{
    position: absolute;
    top: 25%;
    right:2%;
    height: 50%;
    background: transparent;
}
.box{
    display:flex;
    align-items: center;
}
.hide{
    opacity: 0 !important;
    transition: .5s;
}
.show{
    display: flex;
    opacity: 1;
    transition: opacity .5s;
}
.fav-btn{
    align-self: flex-end;
    cursor: pointer;
    position: absolute;
}
.next-btn{
    align-self: flex-end;
    position: absolute;
    right: 0;
}
.next-btn ion-icon{
    color: yellowgreen;
}
.fav-btn ion-icon{
    color: yellowgreen;
}

ion-icon {
    font-size:1.6rem
}